In [19]:
from datasets import load_dataset
import pandas as pd
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [20]:
# can change the split train, dev, test
dataset = load_dataset(path="princeton-nlp/SWE-bench", split="dev")

In [21]:
df = pd.DataFrame(dataset)
df = df[['hints_text', 'problem_statement']]
df.head()

,hints_text,problem_statement
0,,Enable quiet mode/no-verbose in CLI for use in...
1,"> Version\r\n> sqlfluff, version 0.6.2\r\n\r\n...",fix keep adding new line on wrong place \n### ...
2,,L026: Rule incorrectly flag column does not ex...
3,This is _very_ interesting! I'll pick this one...,Inconsistent output depending on --processes f...
4,I'll take a look.\r\n\r\nAnd darn it -- first ...,Fatal templating error with Jinja templater. T...

In [34]:
from Utils import similarity_score

def get_similarity_score(row : pd.Series) -> float:

    if row['hints_text'] == "" or row['problem_statement'] == "":
        return 0.0
    
    return similarity_score(row['hints_text'], row['problem_statement'])

In [ ]:
for i, row in df.iterrows():
    df.at[i, 'similarity_score'] = get_similarity_score(row)

,hints_text,problem_statement,similarity_score
0,,Enable quiet mode/no-verbose in CLI for use in...,0.000000
1,"> Version\r\n> sqlfluff, version 0.6.2\r\n\r\n...",fix keep adding new line on wrong place \n### ...,0.567407
2,,L026: Rule incorrectly flag column does not ex...,0.000000
3,This is _very_ interesting! I'll pick this one...,Inconsistent output depending on --processes f...,0.501145
4,I'll take a look.\r\n\r\nAnd darn it -- first ...,Fatal templating error with Jinja templater. T...,0.684590

In [ ]:
df.head()